<div class="d-flex mdm_screenshot_flex">
    <img src="images/MDM_SC_Storm.png" alt="Storm Screenshot" class="img img-responsive screenshot_portrait">
</div>
<div class="d-flex flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Counters</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li class="font-italic">Menu > Counters</li>
            <li>Every counter in the game
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>And even non-counters like mana and storm.</li>
                    <li>Counters are organized by alphabetical order, with Mana Counters and +X/+X counters on the top.</li>
                    <li>Counters can also be deployed in decks. <i>For more information about decks, see the Decks section below.</i></li>
                </ul>
            </li>
            <li>Interactive virtual counters
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Swipe up or down across the counter to increase or decrease each counter.</li>
                    <li>Press and hold the counter to remove the it from the battlefield.</li>
                </ul>
            </li>
            <li><i>If you find that any counters that are missing, feel free to contact support.</i></li>
        </ul>
    </div>
</div>
