<div class="d-flex flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Decks</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li class="font-italic">Menu > Decks</li>
            <li>Organize your tokens and counters into saved decks
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Selecting a Add will bring up a dialog to create a new deck, which will be saved to your device. <i>Uninstalling Magic DeckMate will erase all deck data.</i></li>
                    <li>Selecting Edit will allow users to edit the composition of each deck, as well as rename it. <i>A maximum of 9 tokens and/or counters is allowed in each deck.</i></li>
                </ul>
            </li>
            <li>Instantly deploy an entire battlefield's worth of tokens and counters
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Selecting a deck will allow you to either deploy an individual token or counter from the deck or select All and deploy all the tokens and counters at once. </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="d-flex flex-column flex-md-row">
    <img src="images/MDM_SC_DeckAdd_Green.png" alt="Adding A Deck" class="img img-responsive screenshot_portrait">
    <img src="images/MDM_SC_DeckEdit_Black.png" alt="Adding A Deck" class="img img-responsive screenshot_portrait ml-md-3 pt-3 pt-md-0">
</div>
