<div class="d-flex mdm_screenshot_flex">
    <img src="images/MDM_SC_LifeCounter.png" alt="Life Counter Screenshot" class="img img-responsive screenshot_portrait">
</div>
<div class="d-flex flex-1 flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Life Counter</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li class="font-italic">Menu > Settings > Starting Life</li>
            <li>Use the - and + buttons above the battlefield to decrease or increase your current life.</li>
            <li>Set your starting life to 20, 30, or 40
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>This will reset your current life.</li>
                    <li>
                        When setting a new starting life in 2-Player mode, your starting life will be reset to the new starting life, but your opponent's current life will remain the same until reset.
                    </li>
                </ul>
            </li>
            <li>Easily reset the life counter to the default starting life
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li class="font-italic">Menu > Battlefield Resets > Reset Life</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
