<div class="row d-flex flex-row justify-content-start mx-0 topMenuPadding">
    <div class="col">

        <%# FEATURES %>
        <div class="row darkText mdm_featureSection">
            <div class="col-1"></div>
            <div class="col-10 d-flex flex-column">
                <div class="row">
                    <div>
                        <span class="titleText">Features</span>
                    </div>
                    <div class="descriptionText">
                        <p>
                            Magic DeckMate is designed to maximize screen space and fit into your play area as seamlesssly as possible. It will orient to portrait or landscape depending on how you orient your device. Much of the functionality is accessible through the menu. You can find the menu button just below your life counter. This button will change depending on which color scheme you choose.
                        </p>

                        <p>
                            When you start up the app for the first time, the tutorial will guide you through the controls. If you wish to see the tutorial again, you can find it in the menu:
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="ml-4">Menu > Settings > Controls | Help > Tutorial</li>
                            </ul>
                        </p>

                        <p>
                            <div class="sectionHeader">1 Player Mode vs 2 Player Mode</div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="ml-4 font-italic">Menu > Settings > Players</li>
                                <li class="ml-4">In 1 Player Mode a user will be able to have a maximum of 9 tokens and/or counters on the battlefield</li>
                                <li class="ml-4">In 2 Player Mode a user will be able to have a maxumum of 6 tokens and/or counters on the battlefield</li>
                            </ul>
                        </p>

                        <p>
                            <div class="sectionHeader">Battlefield Resets</div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="ml-4 font-italic">Menu > Battlefield Resets</li>
                                <li class="ml-4">Reset Life
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Resets current life to the starting life</li>
                                    </ul>
                                </li>
                                <li class="ml-4">Reset Card Values
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Untaps all tokens</li>
                                        <li>Resets quantity of tokens to 0</li>
                                        <li>Resets counter values to 0</li>
                                        <li>Leaves all tokens and counters on the battlefield</li>
                                    </ul>
                                </li>
                                <li class="ml-4">Clear Cards
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Removes all tokens and counters from the battlefield</li>
                                    </ul>
                                </li>
                                <li class="ml-4">Reset All
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Resets current life to the starting life</li>
                                        <li>Removes all tokens and counters from the battlefield</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <%# LIFE %>
        <div class="row darkText mdm_featureSection" id="lifeSection">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex flex-row orientLeft">
                    <div class="d-flex">
                        <img src="images/MDM_SC_LifeCounter.png" alt="Life Counter Screenshot" class="img img-responsive screenshot_portrait">
                    </div>
                    <div class="d-flex flex-grow-1 flex-column justify-content-center textSection">
                        <div class="sectionHeader">
                            <h2>Life Counter</h2>
                        </div>
                        <div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="font-italic">Menu > Settings > Starting Life</li>
                                <li>Use the - and + buttons above the battlefield to decrease or increase your current life.</li>
                                <li>Set your starting life to 20, 30, or 40
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>This will reset your current life.</li>
                                        <li>
                                            When setting a new starting life in 2-Player mode, your starting life will be reset to the new starting life, but your opponent's current life will remain the same until reset.
                                        </li>
                                    </ul>
                                </li>
                                <li>Easily reset the life counter to the default starting life
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li class="font-italic">Menu > Battlefield Resets > Reset Life</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <%# TOKENS %>
        <div class="row mdm_featureSection" id="tokenSection">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex flex-row orientRight">
                    <div class="d-flex flex-column justify-content-center textSection">
                        <div class="sectionHeader">
                            <h2>Tokens</h2>
                        </div>
                        <div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="font-italic">Menu > Tokens</li>
                                <li>Just about every single token in the game (except for some from Unglued and Unhinged)
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>They are organized by token type in alphabetical order.</li>
                                        <li>Tokens can also be deployed in decks. <i>For more information about decks, see the Decks section below.</i></li>
                                    </ul>
                                </li>
                                <li>Quickly deploy your most recent tokens
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li class="font-italic">Menu > Tokens > Recent Tokens</li>
                                    </ul>
                                </li>
                                <li>Interactive virtual tokens
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Swipe left or right across the token to tap or untap.</li>
                                        <li>Swipe up or down through the token to keep track of the quantity of each token.</li>
                                        <li>Press and hold to remove the token from the battlefield.</li>
                                    </ul>
                                </li>
                                <li><i>If you find that any tokens that are missing, feel free to contact support.</i></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <img src="images/MDM_SC_RecentTokens.png" alt="Recent Tokens Screenshot" class="img img-responsive screenshot_portrait">
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <%# COUNTERS %>
        <div class="row mdm_featureSection" id="counterSection">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex flex-row orientLeft">
                    <div>
                        <img src="images/MDM_SC_Storm.png" alt="Storm Screenshot" class="img img-responsive screenshot_portrait">
                    </div>
                    <div class="d-flex flex-column justify-content-center textSection">
                        <div class="sectionHeader">
                            <h2>Counters</h2>
                        </div>
                        <div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="font-italic">Menu > Counters</li>
                                <li>Every counter in the game
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>And even non-counters like mana and storm.</li>
                                        <li>Counters are organized by alphabetical order, with Mana Counters and +X/+X counters on the top.</li>
                                        <li>Counters can also be deployed in decks. <i>For more information about decks, see the Decks section below.</i></li>
                                    </ul>
                                </li>
                                <li>Interactive virtual counters
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Swipe up or down across the counter to increase or decrease each counter.</li>
                                        <li>Press and hold the counter to remove the it from the battlefield.</li>
                                    </ul>
                                </li>
                                <li><i>If you find that any counters that are missing, feel free to contact support.</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <%# DECKS %>
        <div class="row darkText mdm_featureSection" id="deckSection">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex flex-row orientRight">
                    <div class="d-flex flex-column justify-content-center textSection">
                        <div class="sectionHeader">
                            <h2>Decks</h2>
                        </div>
                        <div>
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li class="font-italic">Menu > Decks</li>
                                <li>Organize your tokens and counters into saved decks
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Selecting a Add will bring up a dialog to create a new deck, which will be saved to your device. <i>Uninstalling Magic DeckMate will erase all deck data.</i></li>
                                        <li>Selecting Edit will allow users to edit the composition of each deck, as well as rename it. <i>A maximum of 9 tokens and/or counters is allowed in each deck.</i></li>
                                    </ul>
                                </li>
                                <li>Instantly deploy an entire battlefield's worth of tokens and counters
                                    <ul class="descriptionText listIndent" style="list-style-type:circle">
                                        <li>Selecting a deck will allow you to either deploy an individual token or counter from the deck or select All and deploy all the tokens and counters at once. </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="images/MDM_SC_DeckAdd_Green.png" alt="Adding A Deck" class="img img-responsive screenshot_portrait">
                        <img src="images/MDM_SC_DeckEdit_Black.png" alt="Adding A Deck" class="img img-responsive screenshot_portrait ml-3">
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <%# DICE AND COLORS %>
        <div class="row">
            <div class="col-6 mdm_featureSection" id="diceSection">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row sectionHeader">
                            <h2>Virtual Dice Rolls and Coin Flips</h2>
                        </div>
                        <div class="row">
                            <div class="d-flex flex-grow-1">
                                <ul class="descriptionText listIndent" style="list-style-type:disc">
                                    <li class="font-italic">Menu > Dice</li>
                                    <li>Simulate coin flip</li>
                                    <li>Roll dice
                                        <ul class="descriptionText listIndent" style="list-style-type:circle">
                                            <li>d6</li>
                                            <li>2x d6</li>
                                            <li>d8</li>
                                            <li>d20</li>
                                        </ul>
                                     </li>
                                </ul>
                            </div>

                            <div class="d-flex flex-column align-items-center justify-content-center" id="diceIconDiv">
                                <i class="fas fa-dice-d20 pb-3"></i>
                                <i class="fas fa-dice"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-6 darkText mdm_featureSection" id="colorSection">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row sectionHeader">
                            <h2>6 Different Color Schemes</h2>
                        </div>
                        <div class="row">
                            <div class="d-flex flex-grow-1">
                                <ul class="descriptionText listIndent" style="list-style-type:disc">
                                    <li class="font-italic">Menu > Settings > Color</li>
                                    <li>Colorless</li>
                                    <li>Blue</li>
                                    <li>Red</li>
                                    <li>Green</li>
                                    <li>Black</li>
                                    <li>White</li>
                                </ul>
                            </div>
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <img src="../../images/MDM_Colors_Circle3.png" id="colorsIcon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>

    </div>

    <% include ../footer %>
</div>
