<div class="row d-flex flex-column align-items-center mx-0 h-100">
    <!-- Carousel -->
    <div class="col">
        <div id="MDMCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
            <ol class="carousel-indicators" id="MDMCarouselIndicators">
                <li data-target="#MDMCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#MDMCarousel" data-slide-to="1"></li>
                <li data-target="#MDMCarousel" data-slide-to="2"></li>
                <li data-target="#MDMCarousel" data-slide-to="3"></li>
                <li data-target="#MDMCarousel" data-slide-to="4"></li>
                <li data-target="#MDMCarousel" data-slide-to="5"></li>
                <li data-target="#MDMCarousel" data-slide-to="6"></li>
                <li data-target="#MDMCarousel" data-slide-to="7"></li>
                <li data-target="#MDMCarousel" data-slide-to="8"></li>
                <li data-target="#MDMCarousel" data-slide-to="9"></li>
             </ol>

              <!-- Wrapper for slides -->
             <div class="carousel-inner" id="MDMCarouselBody">
                <div class="carousel-item text-center active">
                    <img src="images/MDM_Carousel_1.png" alt="Blue" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_2.png" alt="Red" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_3.png" alt="Red" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_4.png" alt="Red" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_5.png" alt="Green" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_6.png" alt="Green" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_7.png" alt="Black" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_8.png" alt="Black" class="MDMCarouselImage">
                </div>

                <div class="carousel-item text-center">
                    <img src="images/MDM_Carousel_9.png" alt="White" class="MDMCarouselImage">
                </div>
            </div>

              <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#MDMCarousel" role="button" data-slide="prev">
                <i class="fas fa-chevron-left carousel-arrow"></i>
            </a>
            <a class="carousel-control-next" href="#MDMCarousel" role="button" data-slide="next">
                <i class="fas fa-chevron-right carousel-arrow"></i>
            </a>
        </div>
    </div>
</div>
