<div class="d-flex flex-column align-items-center h-100" style="flex-basis: max-content;">
    <div class="row flex-grow-1 topMenuPadding justify-content-center align-items-center w-100">
        <img src="../../images/MDM_logo_magic.png" alt="Magic" id="mdm_magicText">
        <img src="../../images/MDM_logo_deckmate.png" alt="DeckMate" id="mdm_deckmateText">
    </div>
    <div class="d-flex flex-column justify-content-end align-items-center" id="MDM_creature_art_div">
        <img src="../../images/MDM_Colors_Circle3.png" id="mdm_circle_art" />
        <img src="../../images/MDM_Creature2.png" id="mdm_creature_art" />
    </div>
</div>
