<div class="row d-flex flex-row justify-content-start h-100 topMenuPadding botMenuPadding">
    <div class="col-1"></div>
    <div class="col-10 d-flex flex-column justify-content-end h-100" id="mdm_infoBG">
        <div class="row flex-grow-1">
            <div class="col-1"></div>
            <div class="col-10 d-flex flex-column justify-content-center">
                <div>
                    <span itemprop="name" class="titleText">Magic DeckMate</span>
                </div>
                <div class="subTitle">
                    Leave your dice at home. All you need are your cards and your device.
                </div>
                <div class="descriptionText">
                    Magic DeckMate is built to be the world&rsquo;s most robust in-game Magic: The Gathering companion.
                    Featuring interactive touch-controlled virtual tokens and counters, it is all you need to keep track
                    of everything in-game in the most convenient and visual way possible.
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col pb-4" id="mdm_infoSection2">
                <div class="row no-gutters w-100 h-100">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="subTitle">
                            Perfect for:
                        </div>
                        <div class="">
                            <ul class="descriptionText listIndent" style="list-style-type:disc">
                                <li>Travel &mdash; This app is an absolute necessity for playing on trains and planes.</li>
                                <li>Being an idiot and forgetting your dice at home.</li>
                                <li>Being a genius and not needing dice to play Magic.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>


            </div>
            <div class="col py-4 h-100" id="mdm_infoSection3">
                <div class="row d-flex flex-row align-items-center no-gutters w-100 h-100">
                    <div class="col-2"></div>
                    <div class="col-8 d-flex flex-column justify-content-between align-items-end" id="mdm_appInfoCol">
                        <a href="https://itunes.apple.com/us/app/magic-deckmate/id1186058352?ls=1&mt=8" target="_blank">
                            <img src="images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" alt="Download on the App Store">
                        </a>

                            <!-- Star Rating -->
                        <div class="">
                            <div class="star-ratings-css inline-flex">
                                <div class="star-ratings-css-top" style="width: 100%">
                                    <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                                </div>
                                <div class="star-ratings-css-bottom">
                                    <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                                </div>
                            </div>
                            <img itemprop="image" src="images/MDMAppIcon.png" alt="Magic DeckMate" class="MDM_App_Icon"/>
                        </div>
                        <div class="text-right">
                            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                <span itemprop="ratingValue">5.0</span>
                                out of <span itemprop="bestRating">5</span>
                                based on <span itemprop="ratingCount">9</span> user ratings.
                            </div>
                        </div>
                        <div class="">
                            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="USD" />
                            <span itemprop="price">FREE</span>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
