<div class="d-flex flex-column align-items-center h-100">
    <div class="row topMenuPadding justify-content-center align-items-center w-100 h-50">
        <%# <div class="col text-center"> %>
            <img src="../../images/MDM_logo_magic.png" alt="Magic" id="mdm_magicText">
        <%# </div> %>
        <%# <div class="col text-center"> %>
            <img src="../../images/MDM_logo_deckmate.png" alt="DeckMate" id="mdm_deckmateText">
        <%# </div> %>
    </div>
    <div id="MDM_creature_art">
        <img src="../../images/MDM_Creature2.png"  />
    </div>
</div>
