<div class="d-flex flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Tokens</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li class="font-italic">Menu > Tokens</li>
            <li>Just about every single token in the game (except for some from Unglued and Unhinged)
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>They are organized by token type in alphabetical order.</li>
                    <li>Tokens can also be deployed in decks. <i>For more information about decks, see the Decks section below.</i></li>
                </ul>
            </li>
            <li>Quickly deploy your most recent tokens
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li class="font-italic">Menu > Tokens > Recent Tokens</li>
                </ul>
            </li>
            <li>Interactive virtual tokens
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Swipe left or right across the token to tap or untap.</li>
                    <li>Swipe up or down through the token to keep track of the quantity of each token.</li>
                    <li>Press and hold to remove the token from the battlefield.</li>
                </ul>
            </li>
            <li><i>If you find that any tokens that are missing, feel free to contact support.</i></li>
        </ul>
    </div>
</div>
<div>
    <img src="images/MDM_SC_RecentTokens.png" alt="Recent Tokens Screenshot" class="img img-responsive screenshot_portrait">
</div>
