<!-- BOT BAR -->
<div class="row w-100" id="botBar">
    <div class="col-lg-1 visible-lg"></div>
    <div class="col-xs-12 col-lg-10">
        
        <div class="col-xs-12 col-sm-6 col-sm-pull-6" >
            <p class="contact">
                Contact:
                <br>EMAIL: conor@switchkickstudios.com
                <br>SUPPORT: support@switchkickstudios.com
            </p>
        </div>

    </div>
    <div class="col-lg-1 visible-lg"></div>
</div>
