<!-- BOT BAR -->
<div class="row w-100" id="botBar">
    <div class="col-1"></div>
    <div class="col-10 py-3">

        <div class="d-flex flex-column justify-content-around h-100" >
            <p class="contact">Contact:</p>
            <p class="contact">EMAIL: conor@switchkickstudios.com</p>
            <p class="contact">SUPPORT: support@switchkickstudios.com</p>
        </div>

    </div>
    <div class="col-1"></div>
</div>
