<!DOCTYPE html>
<html>
<head>
    <% include ./headFiles %>
    <title>Switch Kick Studios</title>
    <meta name="description" content="Mobile App Developer from New Jersey. Creator of Magic DeckMate, the best MTG token and counter game companion app on the iOS App Store.">
</head>

<body data-spy="scroll" data-target="#topNavSKS" data-offset="0">
    <% include ./menu %>

    <!-- CONTENT -->
    <div class="col-xs-12" id="contentBlockSKS">

        <div class="section" id="section0">
            <% include ./SKS/section0 %>
        </div>

        <div class="section" id="section1">
            <% include ./SKS/section1 %>
        </div>
    </div>

    <% include ./footFiles %>
    <script>
        $(document).ready(function() {
        	$('#contentBlockSKS').fullpage({
                menu: '#topNavSKS',
                anchors: ['home', 'about'],
        		autoScrolling: false,
                licenseKey: '<%= fullpageJSLicense %>'
        	});
        });
    </script>
</body>
</html>
