<!DOCTYPE html>
<html>
<head>
    <% include ./headFiles %>
    <title>Kick Ticker</title>
</head>

<body data-spy="scroll" data-target="#topNavSKS" data-offset="0" id="KT_PrivacyPolicy_Body">
    <% include ./menu %>

    <!-- CONTENT -->
    <div id="KT_Container">

        <div class="row">
            <div class="col-sm-1 hidden-xs"></div>
            <div class="col-xs-12 col-sm-10">

                <div id="aboutMe">
                    <div class="col-xs-12 leftTitle">
                        <h1>Kick Ticker Privacy Policy</h1>
                    </div>
                    <div class="col-xs-12" id="aboutMeContent">
                        <div>
                            Neither Switck Kick Studios nor Kick Ticker collect any data from users.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-1 hidden-xs"></div>
        </div>
    </div>

    <% include ./footer %>

    <style>
        .botBar {
            position: fixed !important;
            bottom: 0px;
        }
    </style>
</body>
</html>
