<!DOCTYPE html>
<html>
<head>
    <% include ./headFiles %>
    <title>Kick Ticker</title>
</head>

<body itemscope itemtype="http://schema.org/Product" data-spy="scroll" data-target="#topNavSKS" data-offset="0" id="KT_Body">
    <% include ./menu %>

    <!-- CONTENT -->
    <div class="col-xs-12" id="KT_Container">
        <div class="section" id="KT_Section0">
            <% include ./KT/section0 %>
        </div>

        <div class="section" id="KT_Section1">
            <% include ./KT/section1 %>
        </div>

        <div class="section" id="KT_Section2">
            <% include ./KT/section2 %>
        </div>
    </div>

        <%# <!-- Section 3: Features -->
        <div class="row KTFeaturesBG">
            <!-- <img src="images/kickticker/KT_ScreenShot_Timer.png">
            <img src="images/kickticker/KT_ScreenShot_Setup.png"> -->
            <div class="col-sm-1 hidden-xs"></div>

            <div class="col-xs-12 col-sm-10">

                    <!-- Features Info -->
                    <div class="col-xs-12 whiteText">

                        <div class="p-0 col-lg-1 visible-lg"></div>
                        <div class="p-0 col-xs-12 col-lg-10">
                            <div class="col-xs-12 contentHeader">
                                Features
                            </div>

                            <div class="p-0 col-xs-12 col-md-6 col-md-push-6 featuresBlock">
                                <div class="sectionHeader col-xs-12">
                                    <h2>Timer</h2>
                                </div>
                                <div class="col-xs-12">
                                    <ul class="descriptionText listIndent" style="list-style-type:disc">
                                        <li>Familiar control scheme:
                                            <ul class="descriptionText listIndent" style="list-style-type:circle">
                                                <li>Start</li>
                                                <li>Pause</li>
                                                <li>Reset</li>
                                            </ul>
                                        </li>
                                        <li>Sound effects that duck background sound, like music.
                                            <ul class="descriptionText listIndent" style="list-style-type:circle">
                                                <li>3 second countdown at the end of each round and rest period</li>
                                                <li>Distinct sounds for the start of rounds and rest periods</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-0 col-xs-12 col-md-6 col-md-pull-6 KTLeftScreenshotDiv">
                                <img src="images/kickticker/KT_Screenshot_Timer.png" alt="Recent Tokens Screenshot" class="img img-responsive screenshot_portrait">
                            </div>

                            <div class="p-0 col-xs-12 col-md-6 featuresBlock">
                                <div class="sectionHeader col-xs-12">
                                    <h2>Setup</h2>
                                </div>
                                <div class="col-xs-12">
                                    <ul class="descriptionText listIndent" style="list-style-type:disc">
                                        <li>Number of rounds</li>
                                        <li>Length of each round</li>
                                        <li>Length of each rest period
                                            <ul class="descriptionText listIndent" style="list-style-type:circle">
                                                <li>Only applies when there are multiple rounds.</li>
                                            </ul>
                                        </li>
                                        <li>Volume setting
                                            <ul class="descriptionText listIndent" style="list-style-type:circle">
                                                <li>This value is relative to your device's system volume. So, if Kick Ticker's
                                                    volume is set to 100, but it still doesn't seem loud enough, you should raise
                                                    your device volume in your device's settings.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Chocolate Mode</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-0 col-xs-12 col-md-6 KTRightScreenshotDiv">
                                <img src="images/kickticker/KT_ScreenShot_Setup.png" alt="Life Counter Screenshot" class="img img-responsive screenshot_portrait">
                            </div>

                            <div class="p-0 col-xs-12" id="KT_privacyPolicyDiv">
                                <a href="/kicktickerprivacypolicy">PRIVACY POLICY</a>
                            </div>
                        </div>
                        <div class="p-0 col-lg-1 visible-lg"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 hidden-xs"></div>
        </div>
        <!-- Container End -->
    </div> %>

    <% include ./footFiles %>
    <script>
        $(document).ready(function() {
            $('#KT_Container').fullpage({
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Top', 'Info', 'Features'],
                autoScrolling: false,
                licenseKey: '2A78C148-FC9343F4-9251B43F-05693B16',

                onLeave: function(origin, destination, direction){
                    if(destination.index <= 1){
                        $("#KT_Body #fp-nav ul li .fp-tooltip").css("color", "black");
                        $("#KT_Body #fp-nav ul li a span").css("background-color", "black");

                    }
                    if(destination.index > 1){
                        $("#KT_Body #fp-nav ul li .fp-tooltip").css("color", "white");
                        $("#KT_Body #fp-nav ul li a span").css("background-color", "white");
                    }
                }
            });
        });
    </script>
</body>
</html>
