<!DOCTYPE html>
<html>
<head>
    <% include ./headFiles %>
    <title>Kick Ticker</title>
</head>

<body itemscope itemtype="http://schema.org/Product" data-spy="scroll" data-target="#topNavSKS" data-offset="0" id="KT_Body">
    <% include ./menu %>

    <!-- CONTENT -->
    <div class="col-xs-12" id="KT_Container">
        <div class="section" id="KT_Section0">
            <% include ./KT/section0 %>
        </div>

        <div class="section" id="KT_Section1">
            <% include ./KT/section1 %>
        </div>

        <div class="section" id="KT_Section2">
            <% include ./KT/section2 %>
        </div>
    </div>

    <% include ./footFiles %>
    <script>
        $(document).ready(function() {
            $('#KT_Container').fullpage({
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Top', 'Info', 'Features'],
                autoScrolling: false,
                fitToSection: false,
                licenseKey: '2A78C148-FC9343F4-9251B43F-05693B16',

                onLeave: function(origin, destination, direction){
                    if(destination.index <= 1){
                        $("#KT_Body #fp-nav ul li .fp-tooltip").css("color", "black");
                        $("#KT_Body #fp-nav ul li a span").css("background-color", "black");

                    }
                    if(destination.index > 1){
                        $("#KT_Body #fp-nav ul li .fp-tooltip").css("color", "white");
                        $("#KT_Body #fp-nav ul li a span").css("background-color", "white");
                    }
                }
            });
        });
    </script>
</body>
</html>
