<!DOCTYPE html>
<html>
<head>
    <% include ./headFiles %>
    <title>Magic DeckMate</title>
    <meta name="description" content="The most robust in-game MTG app for iPhone, featuring virtual tokens, counters, and dice. Change starting life and customize color.">
</head>

<body itemscope itemtype="http://schema.org/Product" data-spy="scroll" data-target="#topNavSKS" data-offset="0" id="MDMbody">
    <% include ./menu %>

    <!-- CONTENT -->
    <div class="col-xs-12" id="contentBlockMDM">
        <div class="section" id="MDM_Section0">
            <% include ./MDM/section0 %>
        </div>

        <div class="section" id="MDM_Section1">
            <% include ./MDM/section1 %>
        </div>

        <div class="section" id="MDM_Section2">
            <% include ./MDM/section2 %>
        </div>

        <div class="section" id="MDM_Section3">
            <% include ./MDM/section3 %>
        </div>
    </div>

    <% include ./footFiles %>
    <script>
        $(document).ready(function() {
            $('#contentBlockMDM').fullpage({
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Top', 'Screenshots', 'Info', 'Features'],
                autoScrolling: false,
                licenseKey: '<%= fullpageJSLicense %>',

                onLeave: function(origin, destination, direction){
                    if(destination.index <= 1){
                        $("#MDMbody #topNavSKS").css("background-color", "transparent");
                    }

                    if(destination.index > 1){
                        $("#MDMbody #topNavSKS").css("background-color", "black");
                    }

                    if(destination.index <= 2){
                        $("#MDMbody #fp-nav ul li .fp-tooltip").css("color", "white");
                        $("#MDMbody #fp-nav ul li a span").css("background-color", "white");

                    }
                    if(destination.index > 2){
                        $("#MDMbody #fp-nav ul li .fp-tooltip").css("color", "#0C0C0C");
                        $("#MDMbody #fp-nav ul li a span").css("background-color", "#0C0C0C");
                    }
                }
            });
        });
    </script>
</body>
</html>
