<!-- TOP BAR -->
<div class="topBar row no-gutters w-100 position-fixed" id="topNavSKS">

    <div class="col-1"></div>
    <div class="col-10 d-flex flex-row justify-content-between">

        <div class="">
            <a href="/#home" data-menuanchor="home" class="active logoText SKSButton d-none d-lg-block" id="Logo_Button_Large">
                Switch Kick Studios
            </a>
            <a href="/#home" data-menuanchor="home" class="active logoText SKSButton d-block d-lg-none" id="Logo_Button_Small">
                SKS
            </a>
        </div>

        <div class="d-flex flex-column justify-content-end">

            <!-- STANDARD NAVIGATION MENU -->
            <div class="d-none d-md-block" id="Menu_Row_Large">
                <a href="/magicdeckmate" class="SKSButton SKSTextButton pr-4">MAGIC DECKMATE</a>
                <a href="/kickticker" class="SKSButton SKSTextButton pr-4">KICK TICKER</a>
                <a href="/#about" class="SKSButton SKSTextButton" data-menuanchor="about">ABOUT</a>
            </div>

            <!-- HAMBURGER MENU -->
            <div class="d-xs-block d-md-none" id="Menu_Row_Small">
                <a id="SKSMenuIcon">
                    <span class="captainIcon icon-316 SKSButton"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row no-gutters w-100 verticalMenuParentDiv topMenuPadding position-fixed" id="verticalMenuDiv">
    <div class="col-1"></div>
    <div class="col-10">
        <!-- HAMBURGER MENU ITEMS -->
        <div class="hamburgerMenuItem text-right" style="padding-top: 14px; display:none;">
            <a href="/magicdeckmate" class="SKSButton SKSTextButton primaryColor">MAGIC DECKMATE</a>
        </div>
        <div class="hamburgerMenuItem text-right" style="display:none;">
            <a href="/kickticker" class="SKSButton SKSTextButton primaryColor">KICK TICKER</a>
        </div>
        <div class="hamburgerMenuItem text-right" style="display:none;">
            <a href="/#about" class="SKSButton SKSTextButton primaryColor">ABOUT</a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
