/* chocolateNavigationColor = '#431D05';
chocolateMainBackgroundColor = '#653517';
chocolateInactiveColor = '#86512F';
chocolateFontColor = '#A97250';
chocolateBorderColor = '#7E6251';
primaryRedColor = '#E93030';
darkerRedColor = '#9C0101';
inactiveRedColor = '#C41111';
startButtonColor = '#7FB710';
stopButtonColor = '#FCA258';
resetButtonColor = darkerRedColor; */


#KT_Body {
    background-color: #E93030;
}

#KT_Container {
    background-color: #E93030;
    padding-top: 150px;
}

#logoDiv {
    padding-bottom: 60px;
}

#KT_Logo {
    width: 56%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#header_Art {
    width: auto;
    max-height: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}



/* General Info */
#KTTitle {
    text-align: left !important;
    font-family: DinCondensed;
    font-size: 30px;
    padding: 0px;
    text-decoration: underline;
}

#KTSubtitle {
    text-align: left !important;
    font-family: Futura;
    font-size: 24px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#KTDescription {
    text-align: left !important;
    font-family: Futura;
    padding: 0px;
}

.KT_App_Icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#contentBlockKT{
    position: relative;
    background-color: white;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 64px;
}

/* XS */
@media (max-width: 768px) {
    #KTDownload {
        text-align: center;
        padding-top: 30px;
    }
    .KTLeftScreenshotDiv {
        text-align: center;
    }
    .KTRightScreenshotDiv {
        text-align: center;
    }
}

/* SM */
@media (min-width: 768px) {
    #KTDownload {
        text-align: right;
    }
    .KTLeftScreenshotDiv {
        text-align: center;
    }
    .KTRightScreenshotDiv {
        text-align: center;
    }
}

/* MD */
@media (min-width: 992px) {
    .KTLeftScreenshotDiv {
        text-align: left;
    }
    .KTRightScreenshotDiv {
        text-align: right;
    }
}
