#KT_Body {
    background-color: #E93030;
}

#KT_Container {
    background-color: #E93030;
    padding-top: 150px;
}

#KT_Logo {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#header_Art {
    width: auto;
    max-height: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
