/* Main Content */
#MDMLogo {
    height: 200px;
    width: auto;
}

#contentBlockMDM{
    position: relative;
    background-color: black;
    padding: 0px;
    z-index: 1;
    display: grid;
}
#MDMCarouselBody {
    margin-top: 50px;
}
.MDMCarouselImage {
    height: auto !important;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}
#MDMLogoContainer {
    text-align: center;
    position: relative;
    top: 100px;
}


/* General Info */
#MDMContent {
    position: relative;
    padding-top: 50px;
}
#MDMTitle {
    text-align: left !important;
    font-family: DinCondensed;
    font-size: 30px;
    padding: 0px;
    text-decoration: underline;
}
#MDMSubtitle {
    text-align: left !important;
    font-family: Futura;
    font-size: 24px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#MDMDescription {
    text-align: left !important;
    font-family: Futura;
    padding: 0px;
}
#MDMFeatures {
    padding-top: 40px;
}
#MDMComingSoon {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}
#MDMFeaturesTitle {
    text-align: left !important;
    font-family: DinCondensed;
    font-size: 30px;
    padding: 0px;
    padding-top: 50px;
    text-decoration: underline;
}
#MDMLifeCounterScreenshot{
    max-height: 300px;
    margin-top: 40px;
    display: initial;
}
#MDMTokensScreenshot {
    max-height: 520px;
    margin-top: 40px;
    display: initial;
}
#MDMStormScreenshot {
    max-height: 520px;
    margin-top: 40px;
    display: initial;
}
#MDMDiceRollTitle {
    margin-top: 40px;
}
#MDMColorSchemesTitle {
    margin-top: 40px;
}
#MDMColorsCircle {
    margin: auto;
}

.MDMSectionHead {
    text-align: left !important;
    font-family: Futura;
    font-size: 24px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.MDMDescriptionText {
    font-family: Futura;
    padding: 0px;
}

/* --------------------------------------------------------------- */


/* XS */
@media (max-width: 768px) {
    #MDMbody {
        background-color: white;
    }
    #MDMCarouselIndicators {
        bottom: -5px;
    }
    .MDMCarouselImage {
        margin-top: 20px;
        width: 85%;
    }
    #MDMBottomBuffer {
        height: 10px;
    }
    #MDMDownload {
        text-align: center;
        padding-top: 30px;
    }
    #MDMLifeCounterTitle {
        padding-top: 40px;
    }
    #MDMLifeCounterScreenshotDiv {
        text-align: center;
    }
    #MDMTokensTitle {
        padding-top: 40px;
    }
    #MDMTokensScreenshotDiv {
        text-align: center;
    }
    #MDMCountersTitle {
        padding-top: 40px;
    }
    #MDMStormScreenshotDiv {
        text-align: center;
    }
    #MDMCircleDiv {
        padding-top: 80px;
    }
    #MDMColorsCircle {
        max-height: 50px;
    }

}

/* SM */
@media (min-width: 768px) {
    #MDMbody {
        background-color: black;
    }
    #MDMCarouselIndicators {
        bottom: 5px;
    }
    .MDMCarouselImage {
        max-height: auto;
        width: 70%;
    }
    #MDMBottomBuffer {
        height: 120px;
    }
    #MDMDownload {
        text-align: right;
    }
    #MDMLifeCounterTitle {
        padding-top: 40px;
    }
    #MDMLifeCounterScreenshotDiv {
        text-align: center;
    }
    #MDMTokensTitle {
        padding-top: 40px;
    }
    #MDMTokensScreenshotDiv {
        text-align: center;
    }
    #MDMCountersTitle {
        padding-top: 40px;
    }
    #MDMStormScreenshotDiv {
        text-align: center;
    }
    #MDMCircleDiv {
        padding-top: 80px;
    }
    #MDMColorsCircle {
        max-height: 60px;
    }

}

/* MD */
@media (min-width: 992px) {
    .MDMCarouselImage {
        max-height: 600px;
        width: auto;
    }
    #MDMBottomBuffer {
        height: 155px;
    }
    #MDMLifeCounterTitle {
        padding-top: 120px;
    }
    #MDMLifeCounterScreenshotDiv {
        text-align: right;
    }
    #MDMTokensTitle {
        padding-top: 190px;
    }
    #MDMTokensScreenshotDiv {
        text-align: left;
    }
    #MDMCountersTitle {
        padding-top: 190px;
    }
    #MDMStormScreenshotDiv {
        text-align: right;
    }
    #MDMCircleDiv {
        padding-top: 300px;
    }
    #MDMColorsCircle {
        max-height: 60px;
    }

}

/* LG */
@media (min-width: 1200px) {
    #MDMCarouselIndicators {
        bottom: 20px;
    }
    .MDMCarouselImage {
        max-height: 700px;
    }
}

/* STYLES */
.whiteText {
    color:white;
}
.MDMListIndent {
    padding-left: 20px;
}
