/* Main Content */
#contentBlockMDM{
    position: relative;
    background-color: black;
    padding: 0px;
    z-index: 1;
}
#MDMCarouselBody {
    margin-top: 50px;
}
.MDMCarouselImage {
    height: auto !important;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------- */


/* XS */
@media (max-width: 768px) {
    #MDMbody {
        background-color: white;
    }
    .MDMCarouselImage {
        width: 85%;
    }

}

/* SM */
@media (min-width: 768px) {
    #MDMbody {
        background-color: black;
    }
    .MDMCarouselImage {
        max-height: auto;
        /*margin-top: 20px;*/
        width: 70%;
    }

}

/* MD */
@media (min-width: 992px) {
    .MDMCarouselImage {
        max-height: 600px;
        width: auto;
    }
}

/* LG */
@media (min-width: 1200px) {
    .MDMCarouselImage {
        max-height: 700px;
    }
}
