/*

Style Guidelines:

Colors: White, PaleTurquoise, #283f60, Black
Fonts: Anurati, DINCondensed, Futura

*/

/* TOP */
.topBar {
    box-shadow: 0px 20px 75px black;
    padding: 20px;
    display: flex;
    z-index: 10;
}
#topNavSKS {
    background-color: white !important;

}
div.topRightStack {
    position: absolute;
    right: 45px;
    padding-top: 17px;
}
.logo {
    max-height: 100%;
    max-width: 100%;
    padding-top: 6px;
}

.SKSButton:active {
    color: white;
}
.SKSButton:hover {
    text-decoration: none;
}
a.SKSButton {
    cursor: pointer !important;
    font-family: DinCondensed;
    font-size: 20px;
}


/* Main Content */
#contentBlockSKS{
    position: relative;
    background-color: #283f60;
    padding: 0px;
    z-index: 1;
}


/* Main Background */
#mainBG{
    width: 100%;
    height: auto;
}
#photoCred {
    position: relative;
    top: -90px;
    text-align: right;
    z-index: 2;
    color: paleturquoise;
}
#photoCred2 {
    position: relative;
    top: -45px;
    text-align: right;
    z-index: 2;
    color: paleturquoise;
}
#photoCredKitt {
    vertical-align: super;
}


/* About Me */
#aboutMe {
    background-color: #283f60 !important;
    position: relative;
}
#aboutMeTitle {
    text-align: center !important;
    font-family: DinCondensed;
    font-size: 30px;
    text-decoration: underline;
    padding: 20px;
    padding-top: 35px;
    color: white;
}
#aboutMeContent {
    text-align: center !important;
    font-family: Futura;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 35px;
    color: white;
}
#switchKickDefinition {
    text-align: left;
    color: white;
}

/* BOTTOM */
#botBar {
    background-color: white !important;
}
.botBar {
    box-shadow: 0px 15px 75px black;
    color: blue;
    vertical-align:middle;
    z-index: 9;
}
.contact {
    font-family: Futura;
}
#socialMedia {
    text-align: right;
    padding: 0px;
}


/* --------------------------------------------------------------- */


/* XS */
@media (max-width: 768px) {
    #SKSbody {
        background-color: white;
    }
    .topBar {
        height: 80px;
        padding-left: 5px;
    }
    .botBar {
        height: 115px;
        position: inherit;
        padding-top: 15px;
    }
    .topRightButton {
        padding-right: 17px;
    }
    div.topRightStack {
        right: 20px;
    }
    #contentBlockSKS {
    }
    #aboutMe {
        top: -75px;
    }
    #socialMedia {
        text-align: left;
    }

}

/* SM */
@media (min-width: 768px) {
    #SKSbody {
        background-color: #283f60;
    }
    .topBar {
        height: 80px;
    }
    .botBar {
        min-height: 115px;
        position: fixed;
        bottom: 0px;
        padding-top: 25px;
    }
    .topRightButton {
        padding-right: 40px;
    }
    div.topRightStack {
        right: 45px;
    }
    #contentBlockSKS {
        top: -150px;
    }
    #aboutMe {
        top: -30px;
    }
    #switchKickDefinition {
        padding-left: 20px;
        padding-right: 20px;
    }
    #socialMedia {
        text-align: right;
    }

}

/* MD */
@media (min-width: 992px) {
    .topBar {
        min-height: 80px;
        height: inherit;
    }
    .botBar {
        min-height: 150px;
        padding-top: 40px;
    }
    #contentBlockSKS {
        top: -220px;
    }
    #aboutMe {
        top: -20px;
    }
    #switchKickDefinition {
        padding-left: 60px;
        padding-right: 60px;
    }

}

/* LG */
@media (min-width: 1200px) {
    #contentBlockSKS {
        top: -360px;
    }
}

/* FONTS */
@font-face {
    font-family: Futura;
    src: url(fonts/Futura.ttc);
    font-stretch: condensed;
}
@font-face {
    font-family: DinCondensed;
    src: url(fonts/DINCondensedBold.ttf);
}

/* STYLES */
.primaryColor {
    color: #283f60;
}
.justifyRight {
    text-align: right;
}
.disclaimer {
    color: white;
    font-size: 12px;
    text-align: left;
    font-style: italic;
}
.noPadding {
    padding: 0px;
}

/* SOCIAL MEDIA ICONS */
.fa {
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
}
.fa-instagram {
    color: paleturquoise;
}
.fa:hover {
    text-decoration: none;
}
.fa:focus {
    text-decoration: none;
}
