/*

Style Guidelines:

Colors: White, PaleTurquoise, #283f60, Black
Fonts: Anurati, DINCondensed, Futura

*/

body {
  overscroll-behavior-y: none;
}

/* TOP */
.topBar {
    box-shadow: 0px 20px 75px black;
    padding: 20px;
    display: flex;
    z-index: 10;
}
#topNavSKS {
    background-color: white !important;

}
div.topRightStack {
    position: absolute;
    right: 45px;
    padding-top: 17px;
}
.logo {
    max-height: 100%;
    max-width: 100%;
    padding-top: 6px;
}
.logoMini {
    max-height: 45px;
    max-width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
}
.hamburgerMenuIcon {
    max-height: 45px;
    width: 45px;
    padding-bottom: 3px;
    padding-top: 7px;
}
.hamburgerMenuIcon:focus {
    outline: none;
}
.hamburgerMenuItem {
    background-color:white;
    padding: 8px;
    padding-right: 16px;
}
.verticalMenuParentDiv {
    margin-top:80px;
    text-align:right;
    z-index:10;
    padding-left: 0px;
    padding-right:0px;
}
.verticalMenuTopBorderBackground {
    padding: 0px;
    width:100%;
    background-color: white;
}
.verticalMenuTopBorder {
    background-color: #e5e5e5;
    height:2px;
}
.verticalMenu {
    width:160px;
    float:right;
    text-align: right;
}

.SKSButton:active {
    color: white;
}
.SKSButton:hover {
    text-decoration: none;
}
a.SKSButton {
    cursor: pointer !important;
    font-family: DinCondensed;
    font-size: 20px;
}

/* Main Content */
#contentBlockSKS{
    position: relative;
    background-color: #0f1826;
    padding: 0px;
    z-index: 1;
}


/* Main Background */
#mainBG{
    width: 100%;
    height: 100%;
}
#photoCred {
    position: relative;
    top: -45px;
    text-align: right;
    z-index: 2;
    color: paleturquoise;
}

/* About Me */
#aboutMe {
    position: relative;
}
#aboutMeTitle {
    text-align: center !important;
    font-family: DinCondensed;
    font-size: 30px;
    text-decoration: underline;
    padding: 20px;
    padding-top: 35px;
    color: white;
}
#aboutMeContent {
    text-align: left;
    font-family: Futura;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 35px;
    color: white;
}


/* BOTTOM */
#botBar {
    background-color: white !important;
}
.botBar {
    box-shadow: 0px 15px 75px black;
    color: blue;
    vertical-align:middle;
    z-index: 9;
}
.contact {
    font-family: Futura;
}
#socialMedia {
    text-align: right;
    padding: 0px;
}


/* --------------------------------------------------------------- */


/* XS */
@media (max-width: 768px) {
    #SKSbody {
        background-color: #0f1826;
    }
    .topBar {
        height: 80px;
        padding-left: 5px;
    }
    .botBar {
        height: 115px;
        padding-top: 15px;
        margin-top: 50px;
    }
    div.topRightStack {
        right: 20px;
        padding-top: 0px;
    }
    #aboutMe {
        top: -30px;
        /*padding-bottom: 700px;*/
    }
    #socialMedia {
        text-align: left;
    }
    #contentBlockSKS {
        top: 50px;
    }

}

/* SM */
@media (min-width: 768px) {
    #SKSbody {
        background-color: #0f1826;
    }
    .topBar {
        height: 80px;
    }
    .botBar {
        min-height: 115px;
        padding-top: 25px;
        margin-top: 60px;
    }
    .topRightButton {
        padding-right: 20px;
    }
    div.topRightStack {
        right: 45px;
    }
    #aboutMe {
        top: -30px;
    }
    #switchKickDefinition {
        padding-left: 20px;
        padding-right: 20px;
    }
    #socialMedia {
        text-align: right;
    }
    #contentBlockSKS {
        top: 50px;
    }
}

/* MD */
@media (min-width: 992px) {
    .topBar {
        min-height: 80px;
        height: inherit;
    }
    .botBar {
        min-height: 80px;
        padding-top: 15px;
        position: inherit;
    }
    .topRightButton {
        padding-right: 40px;
    }
    #aboutMe {
        top: -20px;
    }
    #switchKickDefinition {
        padding-left: 60px;
        padding-right: 60px;
    }
    #contentBlockSKS {
        top: 20px;
    }
}

/* LG */
@media (min-width: 1200px) {
    .botBar {
        position: fixed;
        bottom: 0px;
    }
    #contentBlockSKS {
        top: 0px;
        margin-bottom: 170px;
    }
}

/* FONTS */
@font-face {
    font-family: Futura;
    src: url(fonts/Futura.ttc);
    font-stretch: condensed;
}
@font-face {
    font-family: DinCondensed;
    src: url(fonts/DINCondensedBold.ttf);
}

/* STYLES */
.primaryColor {
    color: #283f60;
}
.disclaimer {
    color: white;
    font-size: 12px;
    text-align: left;
    font-style: italic;
}
.vert-padding-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}
.margin-top-20 {
    margin-top: 20px;
}
.inline-flex {
    display: inline-flex;
}

/* SOCIAL MEDIA ICONS */
.fa {
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
}
.fa-instagram {
    color: white;
}
.fa:hover {
    text-decoration: none;
}
.fa:focus {
    text-decoration: none;
}
