<div class="row d-flex flex-row align-items-center mx-0 h-100 topMenuPadding botMenuPadding">
    <div class="col-1"></div>
    <div class="col-10 d-flex flex-column justify-content-end h-100">
        <div class="row flex-grow-1 pb-4 pb-md-0">
            <div class="col-1"></div>
            <div class="col-10 d-flex flex-column justify-content-center">
                <div>
                    <span itemprop="name" class="titleText">Kick Ticker</span>
                </div>
                <div class="subTitle">
                    A simple and easy-to-use timer for your favorite ass-kicking activities.
                </div>
                <div class="descriptionText">
                    Whether you're a boxer, kickboxer, grappler, or weight-lifter,
                    you likely often find yourself in need of a quick and effective way to keep track of your rounds and rest periods.
                    Kick Ticker functions similarly to any other timer, following the familiar control scheme of "start, pause, reset"
                     - just with a few more useful features.
                    It's designed to work perfectly into your session,
                    including adjustable buzzer volume and audio that momentarily ducks the volume of your music.
                    So if you want to blast Wu-Tang in your gym via bluetooth, you will be able to clearly hear
                    Kick Ticker's buzzer sounds but also clearly hear the Wu.
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-md-7 pb-4">
                <div class="row no-gutters w-100 h-100 whiteText">
                    <div class="col-2"></div>
                    <div class="col-8" id="kt_infoSection2">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10 py-5">
                                <div class="subTitle pt-0">
                                    Perfect for:
                                </div>
                                <div class="">
                                    <ul class="descriptionText listIndent" style="list-style-type:disc">
                                        <li>Bag workouts</li>
                                        <li>Sparring sessions</li>
                                        <li>Interval training</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-md-5 py-4 h-md-100" id="kt_infoSection3">
                <div class="row d-flex flex-row align-items-center no-gutters w-100 h-100">
                    <div class="col-2"></div>
                    <div class="col-8 d-flex flex-column justify-content-between align-items-end" id="kt_appInfoCol">
                        <a href="https://itunes.apple.com/us/app/kick-ticker/id1436800669?ls=1&mt=8" target="_blank">
                            <img src="images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" alt="Download on the App Store">
                        </a>

                        <!-- Star Rating -->
                        <div class="">
                            <img itemprop="image" src="images/kickticker/kickTickerIcon.png" alt="Magic DeckMate" class="sks_App_Icon"/>
                        </div>

                        <div class="text-right">
                            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"></span>
                            <meta itemprop="priceCurrency" content="USD" />
                            <span itemprop="price">FREE</span>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1"></div>
</div>
