<div class="row d-flex flex-row align-items-center mx-0 h-100 topMenuPadding botMenuPadding">
    <div class="col-1"></div>
    <div class="col-10 d-flex flex-column justify-content-end h-100">
        

    </div>
    <div class="col-1"></div>
</div>
