<div class="d-flex flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Setup</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li>Number of rounds</li>
            <li>Length of each round</li>
            <li>Length of each rest period
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Only applies when there are multiple rounds.</li>
                </ul>
            </li>
            <li>Volume setting
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>This value is relative to your device's system volume. So, if Kick Ticker's
                        volume is set to 100, but it still doesn't seem loud enough, you should raise
                        your device volume in your device's settings.
                    </li>
                </ul>
            </li>
            <li>Chocolate Mode
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Idk. Why not?
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pt-4" id="KT_privacyPolicyDiv">
        <a href="/kicktickerprivacypolicy">PRIVACY POLICY</a>
    </div>
</div>
<div>
    <img src="images/kickticker/KT_ScreenShot_Setup2.png" alt="Setup Screenshot" class="img img-responsive screenshot_portrait">
</div>
