<div>
    <img src="images/kickticker/KT_Screenshot_Timer.png" alt="Timer Screenshot" class="img img-responsive screenshot_portrait">
</div>
<div class="d-flex flex-column justify-content-center textSection">
    <div class="sectionHeader">
        <h2>Timer</h2>
    </div>
    <div>
        <ul class="descriptionText listIndent" style="list-style-type:disc">
            <li>Familiar control scheme:
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>Start</li>
                    <li>Pause</li>
                    <li>Reset</li>
                </ul>
            </li>
            <li>Sound effects that duck background sound, like music.
                <ul class="descriptionText listIndent" style="list-style-type:circle">
                    <li>3 second countdown at the end of each round and rest period</li>
                    <li>Distinct sounds for the start of rounds and rest periods</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
