<div class="aboutMeText flex-column justify-content-center">
    <div class="d-flex">
        <div id="aboutMeTitle" class="mb-3">
            <span class="mb-0 titleText">About</span>
        </div>
    </div>
    <div class="col-xs-12" id="aboutMeContent">
        <p>
            I am Conor, a software developer from New Jersey. I have experience in both marketing and full stack development,
            but my specialties lie in developing mobile apps and web design.
        </p>

        <p>
            I've been building mobile applications for years. You could call it my bread and butter. In fact, mobile apps are
            what first drew me to software development. I develop both native and cross-platform apps. So, whether you are looking
            for a sleek, modern app for iOS, Android, or both, I can build you something you'll love.
        </p>

        <p>
            I put an emphasis on design. Because of my experience in marketing, I understand the power of aesthetics, but not just
            on a level of whether something looks good or not. It's important to understand the operational consequences of how
            things are visually arranged and how your website represents your brand. If you need someone to redesign an app or website,
            know that I take these principles in close consideration. If you need someone to build you a brand new website,
            I can provide design suggestions as requested.
        </p>

        <p>
            I also offer backend solutions. My skills don't stop at the front-end. I've been working as a full stack developer for a
            couple years now, building and maintaining login systems, APIs, and large databases.
        </p>

        <p>
            If you need a software developer with full-stack experience and an aptitude for creativity, let's get in touch.
        </p>
    </div>
</div>
