<div class="d-flex flex-column align-items-center h-100">
    <div class="row flex-grow-1 mx-0">
        <div class="col-1"></div>
        <div class="col-6 d-flex topMenuPadding">
            <div class="aboutMeText">
                <div class="col-xs-12" id="aboutMeTitle">
                    <h1>About</h1>
                </div>
                <div class="col-xs-12" id="aboutMeContent">
                    <div>
                    I am a software developer from New Jersey that makes nerdy apps for other nerds. For example, I made
                    Magic DeckMate, the most robust MTG token and counter game companion app on the iOS App Store. That's
                    pretty nerdy.
                    </div>
                    <br><br>
                    <div>
                        Switch Kick: A basic striking technique in which a martial artist attempts to kick his/her opponent
                        from a side that the opponent does not expect by first switching the position of the feet. Success
                        can be achieved with this technique by leveraging calculated preparation and recognizing opportunities
                        that others would not even know exist.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center topMenuPadding" id="skillsDiv">
            <div class="h-75 d-flex flex-column justify-content-around">
                <div class="d-flex flex-row">
                    <span class="captainIcon icon-023"></span>
                    <span class="skillText">Mobile Apps</span>
                </div>
                <div class="d-flex flex-row">
                    <span class="captainIcon icon-039"></span>
                    <span class="skillText">Design (UX/UI)</span>
                </div>
                <div class="d-flex flex-row">
                    <span class="captainIcon icon-062"></span>
                    <span class="skillText">Full Stack Development</span>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <% include ../footer %>
</div>
