<div class="d-flex flex-column align-items-center">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="aboutMeText">
                <div class="col-xs-12" id="aboutMeTitle">
                    <h1>Switch Kick Studios</h1>
                </div>
                <div class="col-xs-12" id="aboutMeContent">
                    <h2>Mobile App Developer from Red Bank, New Jersey, creator of Magic DeckMate</h2>
                    <br><br>
                    <div>
                    I am a software developer from New Jersey that makes nerdy apps for other nerds. For example, I made
                    Magic DeckMate, the most robust MTG token and counter game companion app on the iOS App Store. That's
                    pretty nerdy.
                    </div>
                    <br><br>
                    <div>
                        Switch Kick: A basic striking technique in which a martial artist attempts to kick his/her opponent
                        from a side that the opponent does not expect by first switching the position of the feet. Success
                        can be achieved with this technique by leveraging calculated preparation and recognizing opportunities
                        that others would not even know exist.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <% include ../footer %>
</div>
