<div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
        <div id="imageBG"></div>
        <img src="images/street.jpg" id="mainBG" alt="Bangkok Street | Conor King 2017">
        <div class="col-xs-12" id="photoCred">
            <a href="https://www.instagram.com/kngknr/" target="_blank" class="fa fa-instagram"></a>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>
