<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="" id="section0BGMaskDiv">
        <div id="imageMask"></div>
        <img src="images/street.jpg" id="mainBG" alt="Bangkok Street | Conor King 2017">
    </div>
    <div class="col-1"></div>
    <div class="col-10 text-right d-flex flex-row justify-content-end">
        <a href="https://twitter.com/SwitchKickApps" class="socialMediaIconLink mr-2" target="_blank">
            <i class="fab fa-twitter socialMediaIcon"></i>
        </a>
        <a href="https://www.instagram.com/switchkickstudios/" class="socialMediaIconLink" target="_blank">
            <i class="fab fa-instagram socialMediaIcon"></i>
        </a>
    </div>
    <div class="col-1"></div>
</div>
