<div class="h-75 d-flex flex-column justify-content-around" id="skillsBlock">
    <div class="d-flex flex-row">
        <span class="captainIcon icon-023"></span>
        <span class="skillText">Mobile Apps</span>
    </div>
    <div class="d-flex flex-row">
        <span class="captainIcon icon-039"></span>
        <span class="skillText">Design (UX/UI)</span>
    </div>
    <div class="d-flex flex-row">
        <span class="captainIcon icon-062"></span>
        <span class="skillText">Full Stack Development</span>
    </div>
</div>
